* {

}

button, .button {
    border-style: none;
    background-color: rgb(10, 10, 10);
    color: white;
    border: 1px solid #b39560;
    font-size: 1.2rem;
    cursor: pointer;
}

button:disabled {
    opacity: 0.2;
    cursor: default;
}

body {
    /*overflow: hidden;*/
    height: 100%;
}

html, #root, .App {
    height: 100%;
    overflow: hidden;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    transition: margin-top .5s ease-in
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    color: black
}

.tc-w {
    color: white;
}

.o-h {
    overflow: hidden
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.t-c {
    text: center;
}

.p-1 {
    padding: 0.75rem;
    box-sizing: border-box;
}

.p-2 {
    padding: 1.5rem;
    box-sizing: border-box;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.m-2 {
    margin: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.d-ibl {
    display: inline-block;
    vertical-align: top;
}

.valign-bot {
    vertical-align: bottom;
}

.br-50p {
    border-radius: 50%;
}

.mw-180 {
    width: 180px;
}

.mh-240 {
    height: 240px;
}

.mw-160 {
    width: 140px;
    /*background-size: contain;*/
}

.mh-160 {
    height: 140px;
}

.w-value {
    width: 22px;
}

.h-value {
    height: 22px;
}

.m-2px {
    margin: 2px;
    padding: 1px;
    box-sizing: border-box;
}

.border-4 {
    border: 1px solid black;
    margin-right: -1px;
    margin-left: 1px;
    margin-top: -1px;
    padding-top: 2px;
    padding-left: 2px;
    width: 26px;
    height: 26px;
}

.bgc-b {
    background-color: rgba(10, 10, 10, 1);
}

.bgc-g {
    background-color: rgba(10, 10, 10, 0.8);
}

.bgc-y {
    background-color: rgba(160, 110, 20, 0.8);
}

.bgc-w {
    background-color: rgba(255, 255, 255, 0.8);
}

.bgc-vc {
    background-color: rgba(190, 209, 232, 0.8);
}

.bgc-vl {
    background-color: rgba(222, 219, 176, 0.8);
}

.bgc-vf {
    background-color: rgba(255, 216, 213, 0.8);
}

.bgc-ve {
    background-color: rgba(255, 255, 255, 0.8);
}

.t-b {
    font-weight: bold;
}

.cur-ptr {
    cursor: pointer;
}

.bot-0 {
    bottom: 1rem;
}

.top-0 {
    top: 1rem;
}

.left-0 {
    left: 1rem;
}

.right-0 {
    right: 1rem;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.ff-mono {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.fs-2 {
    font-size: 2.5rem;
}

.fromltr-appear {
    opacity: 0.01;
    transform: translateX(1000px)
}

.fromltr-appear.fromltr-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in, transform 500ms ease-in;
    transform: translateX(0px)
}

.fromltr-enter {
    opacity: 0.01;
    transform: translateX(1000px)
}

.fromltr-enter.fromltr-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
    transform: translateX(0px)
}

.fromltr-leave {
    opacity: 1;
    transform: translateX(0px)
}

.fromltr-leave.fromltr-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transform: translateX(-1000px)
}

.o-appear {
    opacity: 0.01;
}

.o-appear.o-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.o-enter {
    opacity: 0.01;
}

.o-enter.o-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.float-r {
    float: right
}

.textLine {
    width: 100%;
    position: absolute;
    background-color: rgba(10, 10, 10, 0.6);
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.card {
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    border-radius: 9px;
}

.shiny {
    border-color: white;
    box-shadow: 0 0 5px white;
    transition: box-shadow 200ms;
}

.shiny:hover, .shiny:focus, :focus .shiny {
    box-shadow: 0 0 10px white;
}

.shiny:active {
    box-shadow: 0 0 20px white;
}

.epic {
    border-radius: 9px;
    border-color: #FF91FA;
    box-shadow: 0 0 5px #FF91FA;
}

.hovertop:focus, :focus .hovertop {
    z-index: 1;
}

.hovertop:hover {
    z-index: 2;
}

.humanButton, .robotButton {
    position: relative;
    width: 50%;
    height: 90%;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.humanButton:hover, .robotButton:hover {
    z-index:1;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5) inset, 0 0 10px rgba(255, 255, 255, 0.5);
}
.humanButton > .button, .robotButton .button {
    border:0;
    background-color: rgba(10, 10, 10, 0.3);
}
.humanButton:hover > .button, .robotButton:hover .button {
    border:0;
    background-color: rgba(10, 10, 10, 0.7);
}
.credits {
    text-shadow: cornsilk 2px;
}